[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
sqlalchemy = "*"
psycopg2 = "*"
pandas = "*"
awslambdaric = "*"
pyomo = "*"

[dev-packages]

[requires]
python_version = "3.9"
